[Unit]
Description=<%= @root_ca_name %> <%= @root_ocsp_subj %>
After=syslog.target network.target

[Service]
ExecStart=<%= @openssl_cmd %> ocsp -port 9080 -index <%= @root_ca_dir_db %>/index -rsigner <%= @root_ca_ocsp_crt %> -rkey <%= @root_ca_ocsp_key %> -CA <%= @root_ca_crt %> 


[Install]
WantedBy=multi-user.target

